<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pbl_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PBL_Project">
        <activity
            android:name=".ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".upload_book"
            android:exported="false" />
        <activity
            android:name=".activity_profile"
            android:exported="false" />
        <activity
            android:name=".Book_ProductPage"
            android:exported="false" />
        <activity
            android:name=".Delete_Books"
            android:exported="false" />
        <activity
            android:name=".InsertBook"
            android:exported="false" />
        <activity
            android:name=".Recently_Exchanged"
            android:exported="false" />
        <activity
            android:name=".BookShelf"
            android:exported="false" />
        <activity
            android:name=".Home_Page"
            android:exported="false" />
        <activity
            android:name=".Login_Page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>